
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
    <!-- {{ with .Params.description }}<meta name="description" content="{{ . }}">{{ end }} -->
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
